html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background-color: rgb(221, 184, 221);
  }


  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  #heading-text {
    text-align: center;
    line-height: 0.5;
    margin-left: auto;
    margin-right:auto;
  }

  #heading-text-time {
    font-size: 1.6rem;
  }

  #timer {
    font-weight: 1000;
  }

  #movie-name {
    font-weight: 800;
  }

  #nr-sali {
    font-weight: 800;
  }

  /* mapa */
  #map {
    position: absolute;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: white;
    border: 5px solid rgb(10, 29, 85);
    
    
  }

  /* bohater */
  #character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: blue;
    border: 1.5px solid black;
    z-index: 1;
  }


.npc {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: red;
    border: 1.5px solid black;
}

/* paski stanu */
  .health {
    position: absolute;
    height: 80%;
    width: 2.5%;
    left: 2.5%;
    bottom: 5%;
    background-color: red;
    border: 2px solid black;
  }

  #health-bar-text {
    position: absolute;
    left: 2.4%;
    bottom: 0%;
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
  }

  .bladder {
    position: absolute;
    height: 0%;
    width: 2.5%;
    right: 2.5%;
    bottom: 5%;
    background-color: yellow;
    border: 2px solid black;
    }

  #bladder-bar-text {
    position: absolute;
    right: 2.4%;
    bottom: 0%;
    color: black;
    font-size: 0.75rem;
  }

  /* sale */
  .sala1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 6%;
    height: 8%;
    background-color: rgb(255, 0, 128);
  }

  .sala2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 47%;
    width: 6%;
    height: 8%;
    background-color: rgb(255, 0, 128);
  }

  .sala3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 94%;
    width: 6%;
    height: 8%;
    background-color: rgb(255, 0, 128);
  }

 .sala4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 92%;
    left: 0%;
    width: 6%;
    height: 8%;
    background-color: rgb(255, 0, 128);
  }

  .sala5 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 92%;
    left: 47%;
    width: 6%;
    height: 8%;
    background-color: rgb(255, 0, 128);
  }
  
  .sala6 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 92%;
    left: 94%;
    width: 6%;
    height: 8%;
    background-color: rgb(255, 0, 128);
  } 

  .bistro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 2px solid black;
    top: 40%;
    left: 96.8%;
    width: 3%;
    height: 20%;
    background-color: rgb(255, 0, 0);
  } 

  .wc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 2px solid black;
    top: 47%;
    left: 0%;
    width: 3%;
    height: 8%;
    background-color: yellow;
  } 

.sala-text {
    color: white;
    text-align: center;
    font-size: 200%;display: flex;
    align-items: center;
    justify-content: center;

}

.bistro-text {
    color: white;
    transform: rotate(90deg);
}

.wc-text {
    color: black;
    transform: rotate(-90deg);
}




